<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="PhoneBookPath" value="phonebook.xml"/>
    </appSettings>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <targets>
        <target name="f" xsi:type="File" fileName=".\log\MyPhoneBook_${date:format=yyyyMMdd}.log" layout="${longdate} | ${uppercase:${level}} | ${message}"/>
      </targets>
      <rules>
        <logger name="*" minlevel="Info" writeTo="f" />
      </rules>
    </nlog>
</configuration>